mat-form-field {
  width: 100%;
}

button {
  float: right;
  width: 200px;
}

.login-form {
  padding: 4rem 1rem;
  margin-top: 1%;
  margin-bottom: 0%;

  mat-card {
    max-width: 300px;
    margin: 2rem auto;
    text-align: center;
    height: 150px;
    background-color: azure;
  }

  .full-width-input,
  button {
    width: 80%;
  }

  .separator {
    margin-bottom: 4rem;
  }
}