<!-- <div>
  <input type="text" placeholder="Please Enter Your EmailId" [(ngModel)]="email">
  <button (click)="submit()">Send Verification Link</button>
</div>
 -->
 <app-navigation></app-navigation>
 <div class="login-form">
    <mat-card>
      <mat-card-content>
        <h3>Ingresa tu email</h3>
 <div class="container-fluid page-background" class="recuperar">
    <!-- <img src="../../assets/image/login.jpeg" alt=""> -->
  
    <div class="row offset-2 col-1 box1">
      <div class="row col-12 mt-5">
      </div>
    </div>
    <div class="row offset-3 col-1 box">
      <div class="row col-12 mt-5">
      </div>
    </div>
    <div class="row offset-3 col-5 inside-container">
        <form [formGroup]="signupForm" (ngSubmit)="submit()" novalidate>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput  formControlName="email" maxlength="50" />
              <mat-error>
                {{ getErrorMessage('email') }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <button
                color="primary"
                mat-raised-button
                type="submit"
                [routerLink]="'/login'"
              >
                <span>Regresar</span>
              </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button
                color="accent"
                [disabled]="!signupForm.valid"
                mat-raised-button
                type="submit"
              >
                <span>Continuar</span>
              </button>
              </mat-grid-tile>
            </mat-grid-list>
            <!--SE DESACTIVA EL BOTÓN SI EL FORMULARIO ES INVÁLIDO-->
          </form>
    </div>
  </div>
</mat-card-content>
</mat-card>
</div>

  