<div class="contenedor-padre">
  <mat-sidenav-container class="contenido">
    <mat-sidenav style="min-width: 400px;" #cajon opened mode="side">
      <mat-nav-list>
        <p style="margin-left: 4px;" *ngIf="admin == 0">Administrador</p>
        <a mat-list-item routerLink="/productos" *ngIf="admin == 0">
          <mat-icon color="primary">list_alt</mat-icon>
          Productos
        </a>
        <a mat-list-item routerLink="/ventas" *ngIf="admin == 0">
          <mat-icon color="primary">local_shipping</mat-icon>
          Ventas
        </a>
        <mat-divider></mat-divider>
        <p style="margin-left: 4px;">Menú</p>
        <a mat-list-item routerLink="/tienda">
          <mat-icon color="primary">store</mat-icon>
          Ver tienda
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="padding-10">
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
