.mat-card {
  margin-bottom: 10px !important;
}

img {
  max-width: 150px;
  height: auto;
}
.contenedor-imagen{
  padding: 10px;
  display: inline-block;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}


